/*.master-content .content {
    background-color:#fdfdfd;
}

.contacts-h {
    height:250px; text-align:center; position:relative; display:block; background:url('/Images/Contacts/CL.png') center center no-repeat;
}

    .contacts-h .textcont {
        display:inline-block; height:100%; vertical-align:top; text-align:left
    }

        .contacts-h .textcont .t1 {
            font-size:31px; display:block; color:white; padding-top:75px;
        }

        .contacts-h .textcont .t2 {
            font-size:23px; display:block; color:white; padding-top:10px; font-family:OpenSans-Light
        }

    .contacts-h .im1 {
        height:100%; width:160px; display:inline-block; vertical-align:middle; margin-left:80px; background:url('/Images/Contacts/phone.png') no-repeat center center;
    }

.contacts-cont {
    display:block; text-align:center; padding-bottom:30px;
}

    .contacts-cont > div {
        text-align:center; white-space:normal; overflow:hidden; 
    }

        .contacts-cont > div > div {
            display:inline-block; text-align:left;
        }

.contacts-dep {
    padding-top: 40px;
    max-width: 940px;
}

    .contacts-dep .head {
        font-size: 20px;
        color: #659D91;
        display: block;
        margin-bottom:25px;
        margin-left:8px;
    }

.name {
    display: block;
    margin-top: 15px;
    font-size: 17px;
    font-family: OpenSans-Semibold
}

.contacts-item {
    display: inline-table;
    text-align: center;
    width: 280px;
    min-height: 280px;
    background-color: #f7f7f7;
    margin-top:15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left:5px;
    padding-right:5px;
}

    .ind {
        display: inline-block;
        font-size: 15px;
        font-family: OpenSans-Regular;
        color: #5a5a5a
    }

.ind-h {
    display: inline-block;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: white;
}

.phone-h {
    display: inline-block;
    font-size: 14px;
    font-family: OpenSans-Regular;
    color: white;
}

.n-de {
    display: block;
    margin-top: 5px;
    margin-bottom:15px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: #8e8e8e
}

.n-de-2 {
    display: table;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: #8e8e8e
}

.phone {
    display: inline-block;
    font-size: 14px;
    font-family: OpenSans-Semibold;
    color: #5a5a5a
}

    .contacts-item a {
        display:inline-block; padding-left:10px; color:#38b8ee
    }

.map-c {
    padding-top:40px; background-color:#f8f8f8; text-align:center; overflow:hidden; padding-bottom:40px;
}

    .map-c > div {
        display:inline-block; width:60%;
    }

    .map-c span {
        font-size:20px; display:block; text-align:left
    }

    .map-c img {
        margin-top:40px;
    }*/


.master-content .content {
    background-color: #fdfdfd;
}

.contacts-h {
    height: 250px;
    text-align: center;
    position: relative;
    display: block;
    background: url('/Images/Contacts/CL.png') center center no-repeat;
}

    .contacts-h .textcont {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        text-align: left
    }

        .contacts-h .textcont .t1 {
            font-size: 31px;
            display: block;
            color: white;
            padding-top: 75px;
        }

        .contacts-h .textcont .t2 {
            font-size: 23px;
            display: block;
            color: white;
            padding-top: 10px;
            font-family: OpenSans-Light
        }

    .contacts-h .im1 {
        height: 100%;
        width: 160px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 80px;
        background: url('/Images/Contacts/phone.png') no-repeat center center;
    }

.contacts-cont {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

    .contacts-cont > div {
        text-align: center;
        white-space: normal;
        overflow: hidden;
    }

        .contacts-cont > div > div {
            display: inline-block;
            text-align: left;
        }

.contacts-dep {
    padding-top: 40px;
    max-width: 940px;
}

    .contacts-dep .head {
        font-size: 20px;
        color: #659D91;
        display: block;
        margin-bottom: 25px;
        margin-left: 8px;
    }

.name {
    display: block;
    margin-top: 15px;
    font-size: 17px;
    font-family: OpenSans-Semibold
}

.contacts-item {
    display: inline-table;
    text-align: center;
    width: 280px;
    min-height: 280px;
    background-color: #f7f7f7;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.ind {
    display: inline-block;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: #5a5a5a
}

.ind-h {
    display: inline-block;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: white;
}

.phone-h {
    display: inline-block;
    font-size: 14px;
    font-family: OpenSans-Regular;
    color: white;
}

.n-de {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: #8e8e8e
}

.n-de-2 {
    display: table;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: #8e8e8e
}

.phone {
    display: inline-block;
    font-size: 14px;
    font-family: OpenSans-Semibold;
    color: #5a5a5a
}

.contacts-item a {
    display: inline-block;
    padding-left: 10px;
    color: #38b8ee
}

.map-c {
    padding-top: 40px;
    background-color: #f8f8f8;
    text-align: center;
    overflow: hidden;
    padding-bottom: 40px;
}

    .map-c > div {
        display: inline-block;
        width: 60%;
    }

    .map-c span {
        font-size: 20px;
        display: block;
        text-align: left
    }

    .map-c img {
        margin-top: 40px;
    }


span {
    font-family: Montserrat;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.block {
    border: solid 1px gray;
}

.header-cont {
    background-color: #424242;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    min-height: 55px;
}

@media (max-width: 450px) {
    .header-cont {
        flex-direction: column;
    }

    .header-right {
        margin-left: 10px;
    }
}

.header-right {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-left {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-weight: bold;
}

    .header-left span {
        font-weight: bold;
    }

.contacts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 290px;
    background-color: #f7f7f7;
    text-align: center;
    border: 1px solid #CDCDCD;
    margin: 10px;
    padding: 10px;
}

.contact-avatar {
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
}

.contact-name {
    font-weight: bold;
}

.contact-post {
    font-weight: 100;
    font-size: 15px;
}

.contact-lang {
    color: #64998C
}

.contact-info {
    font-weight: 100;
    font-size: 13px;
}

.scheme {
    display: flex;
    flex-direction: column;
}

    .scheme img {
        max-width: 600px;
        width: 90%;
        margin: 0 auto;
    }


.container {
    width: 80%;
    max-width: 1500px;
    margin: auto;
}

@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
}