.master-content .content {
    background-color: #f9f9f9;
}

.men-cont {
    width: 30%;
    min-width: 270px;
    text-align: center;
    float: left;
    margin-top: 40px;
    cursor:pointer;
}

.men-cont > div {
    text-align:left;
    display:inline-block;
}

.men-item-sel {
    min-height: 30px;
    line-height: 28px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #659D91;
    cursor: pointer;
}

.men-item {
    cursor:pointer;
    min-height: 30px;
    line-height: 28px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.down-cont {
    text-align: center;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 40px;
    float:left;
}
    .down-cont > div {
        display: inline-block;
        text-align: left;
        min-width: 550px;
    }

.downitem {
    min-height: 60px;
    width:600px;
    border: 1px solid #ededed;
    background-color: white;
    text-align: left;
    padding: 15px 20px;
    margin-left:15px;
    margin-bottom:15px;
    white-space: normal;
    color: #3c3c3c;
    overflow-y:auto;
    -webkit-transition: box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    -ms-transition: box-shadow 0.2s ease-out;
    transition: box-shadow 0.2s ease-out;
}

    .downitem:hover {
        -webkit-box-shadow: 0px 0px 14px 0px #e2e2e2;
        -moz-box-shadow: 0px 0px 14px 0px #e2e2e2;
        box-shadow: 0px 0px 14px 0px #e2e2e2;
    }

    .downitem > div {
        margin-top: 8px;
    }

    .downitem .file-ic {
        margin: 13px 0 0 10px;
        float: left
    }

    .downitem .data {
        float: left;
        padding-left: 30px;
    }

    .downitem .desc {
        font-size: 14px;
        color: rgb(160,160,160);
        display: block;
        max-width:470px;
        padding-top:3px;
    }

    .downitem .name {
        font-size: 17px;
        display: block
    }

    .downitem .down-but {
        overflow: hidden;
        float: right;
        width: 45px;
        height: 45px;
        margin: 11px 10px 0 0px;
    }

    .download {
        width: 21px;
        height: 26px;
        margin-left:12px;
        margin-top:8px;
    }

        .downitem .down-but:hover {
            background-color: rgb(250,250,250);
        }

    