.swiper {
    width: 100%;
    height: 600px;
    --swiper-scrollbar-bg-color: rgba(128, 128, 128, 0.3);
    --swiper-scrollbar-drag-bg-color: /*rgba(100, 153, 140, 1)*/ #424242;
    --swiper-scrollbar-sides-offset: 20%;
    --swiper-scrollbar-size: 2px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 100%;
    height: 90%;
    display: flex;
}

.sub-block {
    width: 40%;
    color: white;
    background-color: #424242;
    display: flex;
}

    .sub-block h1 {
        margin: 0;
    }

.sub-content > .text {
    margin-top: 20px;
    margin-bottom: 20px;
}


.sub-content {
    margin: auto;
    margin-right: 0;
    text-align: left;
    width: 70%;
}

button {
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
}

.image {
    width: 60%;
}

    .image > .sub-block {
        display: none;
    }

.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.text {
    color: white;
    margin: 0;
}



@media (max-width: 960px) {  

    .menu {
        margin-top: 10px;
    }

    .block {
        height: 95%;
    }

    .sub-block {
        display: none;
    }

    .image {
        width: 100%;
        position: relative;
        text-align: center;
    }

        .image img {
            -webkit-filter: brightness(70%);
            filter: brightness(70%);
        }

        .image > .sub-block {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            background-color: transparent;
            margin: 0;
            padding: 0;
            margin-left: 10px;
            text-align: left;
            width: 100%;
        }

            .image > .sub-block h1 {
                margin: 0;
            }

            .image > .sub-block > .text {
                margin-top: 20px;
                margin-bottom: 20px;
            }

    .tablet {
        display: none;
    }

    .menu-tablet {
        display: block;
    }

    .item {
        margin: 5px 10px;
    }
}

@media (max-width: 450px) {
    .mobile {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .item {
        margin: 5px 5px;
    }

    .h1-header {
        font-size: 20px;
        line-height: 24px;
    }
}


.slider-button {
    transition: transform 0.3s ease;
}
.slider-button:hover {
    transform: scale(1.1);
}





.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 40px;
}

.category {
    justify-self: center;
    text-align: center;
    max-width: 550px;
    margin-bottom: 30px;
    align-items: start;
    width: 100%;
}

    .category img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
        bottom: 0;
    }

    .category h3 {
        color: #00362A;
        text-align: left;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin-top: 20px;
        margin-left: 5px;
        margin-bottom: 0;
    }

.cat-image {
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

@media (max-width: 960px) {
    .category {
        margin-bottom: 20px;
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
    }
}

@media (max-width: 450px) {
    .category {
        margin-bottom: 10px;
    }

    .categories {
        grid-template-columns: repeat(1, 1fr);
        raw-gap: 10px;
    }

    .category h3 {
        font-size: 14px;
        line-height: 18px;
    }
}








.about-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.about-image {
    width: 50%;
}

.about-text {
    width: calc(50% - 50px);
    padding-left: 10px;
    padding-right: 40px;
}

.about-image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.about-image > .about-text {
    display: none;
}

.about > .swiper {
    display: none;
}

@media (max-width: 960px) {
    .about-block img {
        max-height: 400px;
    }

    .about-text {
        display: none;
    }

    .about-image {
        width: 100%;
        position: relative;
        text-align: center;
    }

        .about-image img {
            -webkit-filter: brightness(40%);
            filter: brightness(40%);
        }

        .about-image > .about-text {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            background-color: transparent;
            margin: 0;
            padding: 0;
            margin-left: 10px;
            text-align: left;
            width: 100%;
            color: white;
            width: 90%;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
        }
}

@media (max-width: 600px) {
    .h1-header {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .about > .swiper {
        display: block;
        height: 500px;
    }

    .about > .no-swiper {
        display: none;
    }

    .about-image img {
        height: 100%;
    }

    .about-image {
        height: calc(100% - 50px);
    }
}

@media (max-width: 440px) {
    .about > .swiper {
        height: 680px;
    }
}







.sup-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    grid-gap: 30px;
    row-gap: 0;
    margin: auto;
    justify-items: center;
    align-items: center;
}

.sup-logo img {
    width: 100%;
    max-height: 100px;
    max-width: 200px;
}

@media (max-width: 960px) {
    .sup-logos {
        display: grid;
        grid-template-columns: none;
        grid-template-areas:
            "A A B B C C"
            "D D E E F F"
            "X G G H H x";
    }

    .sup-logo img {
        max-height: 100px;
    }

    .sup-logo.logo-1 {
        grid-area: A;
    }

    .sup-logo.logo-2 {
        grid-area: B;
    }

    .sup-logo.logo-3 {
        grid-area: C;
    }

    .sup-logo.logo-4 {
        grid-area: D;
    }

    .sup-logo.logo-5 {
        grid-area: E;
    }

    .sup-logo.logo-6 {
        grid-area: F;
    }

    .sup-logo.logo-7 {
        grid-area: G;
    }

    .sup-logo.logo-8 {
        grid-area: H;
    }
}

@media (max-width: 450px) {
    .sup-logos {
        grid-template-areas:
            "A B"
            "C D"
            "E F"
            "G H";
    }
}






.latest {
    display: flex;
    flex-direction: column;
}

    .latest > .latest-fronts {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

.latest-front {
    text-align: center;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 110px;
}

    .latest-front > a {
        display: block;
        border: 1px solid #e6e6e6;
    }
        .latest-front > a:hover {
            box-shadow: 0px 0px 14px 0px #c8c8c8;
            transition: box-shadow 0.2s ease-out;
        }

    .front-image {
        /*    width: 212px;*/
        height: 212px;
        padding: 10px;
        display: flex;
        justify-content: center;
        /*border: solid 1px #CDCDCD;*/
        margin: auto;
    }

    .front-image img {
        max-width: 180px;
        max-height: 180px;
        margin: auto;
    }

.latest > .swiper {
    display: none;
}

.latest-text {
    color: black;
}

@media(max-width: 960px) {
    .latest > .no-swiper {
        display: none;
    }

    .latest > .swiper {
        display: block;
        max-height: 350px;
        margin-bottom: 50px;
    }

    .latest .swiper-slide {
        max-width: 212px;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .latest .front-image {
        margin-bottom: 0;
        margin-top: 0;
    }

    .latest-text {
        margin-top: 0;
        align-self: flex-start;
    }

    #ShowAllButtonContainer {
        display: none;
    }
}

.not_show_all {
    display: none;
}

    .not_show_all:nth-child(-n+5) {
        display: block;
    }




.not_available {
    position: relative;
}

    .not_available h3 {
        color: #a7abab;
    }

    .not_available .cat-image {
        position: relative;
    }

        .not_available .cat-image:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }

        .not_available .cat-image img {
            position: relative;
        }

        .cat-image{
            overflow: hidden;
        }

        .cat-image img {
            transition: transform 0.3s ease;
        }

        .category:hover {
            transform: scale(1.05);
            text-decoration: underline;
            text-underline-offset: 5px;
        }