/*html {
    height: 100%;
    overflow-x: auto;
    font-family: OpenSans-Regular, sans-serif, Arial;
    -webkit-text-size-adjust: none;
}

body {
    height:100%; padding:0; margin:0; overflow:hidden; position:relative; overflow-x:auto;
}

Form{
   position:absolute; top:112px; bottom:0px; left:0; right:0; padding:0; margin:0; overflow:auto; min-width:930px;
}

a {
    text-decoration:none; color:inherit;
}*/

/*modal*/

/*.modal {
    top:0!important;
}

.modal-backdrop {
    background-color: rgb(120, 120, 120);
    width:100%;
}

.modal-body {
    background-color:transparent;
    margin:0px;
    padding:0px;
}

.modal-content {
    border-radius:0px;
    margin:0px;
    padding:0px;
    background-color:transparent;
}

.modal-dialog {
    position: relative;
    margin: 6% auto;
}

.modal-open .modal {
  overflow-x: auto;
  overflow-y: auto;
}

.modal-image-box-outer {
    background-color:white;
    border-radius:4px;
    float:left;
}

.modal-image-box-inner {
    background-color:rgb(50, 50, 50);
    border-radius:4px;*/
    /*display:table-cell; 
    vertical-align:middle; 
    text-align:center;*/
    /*margin-left:5px;
    margin-top:5px;
    float:left;
}

.modal-image-box-container {
    display:table-cell; 
    vertical-align:middle; 
    text-align:center;
}

.modalDialog {
    background-color:rgb(250,250,250);  
    border-style:solid;
    border-width:1px;
    border-color:rgb(160,160,160);
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .2);
    padding: 4px 10px 4px 10px;
}

.modalOKCancelDialog {
    width: 450px;
    height: 100px;
    background-color: rgb(250,250,250);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(160,160,160);
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .2);
    padding: 4px 10px 4px 10px;
}

.modalAddFileDialog {
    width:800px; 
    height:500px; 
    background-color:white; 
    border-radius:4px; 
    border-style:solid;
    border-width:1px;
    border-color:rgb(50, 50, 50);
    background-color:white;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .4);
}

.modal-backdrop {
    filter: alpha(opacity=30) !important;
    opacity: 0.3 !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}*/


/*MASTER*/

/*header*/

/*.header {
    position:absolute; left:0; right:0; top:0; height:110px; min-width:960px;
}

.header-top {
    background-color:#f8f8f8; border-bottom:1px solid #f0f0f0; height:40px; width:100%; overflow:hidden; color:black
}

.header-top-logo {
    padding-left:10px;
    padding-top:8px;
    display:inline-block;
}

.header-top-cont {
    float:right; height:100%;
}

    .header-top-cont .numb {
        height:100%; float:left;
    }

        .header-top-cont .numb .img {
            float:left; padding-top:10px;
        }

        .header-top-cont .numb .phonem {
            font-size:15px; padding-left:10px; padding-top:10px; display:inline-block;
        }

    .header-top-cont .write {
        overflow: hidden;
        height: 100%;
        background-color: #424242;
        margin-left:20px;
        display: inline-block;
        padding: 0 20px;
        cursor: pointer;
        -webkit-transition: background-color 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out;
        -o-transition: background-color 0.2s ease-out;
        -ms-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
    }

    .header-top-cont .shop {
        overflow: hidden;
        height: 100%;
        background-color: #ec6446;
        margin-left: 20px;
        display: inline-block;
        padding: 0 20px;
        cursor: pointer;
        -webkit-transition: background-color 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out;
        -o-transition: background-color 0.2s ease-out;
        -ms-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
    }

    .header-top-cont .shop:hover {
        background-color: #e15b3e;
    }

    .header-top-cont .write:hover {
        background-color: #646464;
    }

        .header-top-cont .write .img {
            float: left;
            padding-top: 12px;
            height: 19px;
            width:23px;
        }

        .header-top-cont .shop .img {
            float: left;
            padding-top: 9px;
            height: 23px;
            width: 23px;
        }

        .header-top-cont .write .but {
            font-size:14px; padding-left:10px; padding-top:11px; display:inline-block; color:white;
        }

    .header-top-cont .shop .but {
        font-size: 14px;
        padding-left: 10px;
        padding-top: 11px;
        display: inline-block;
        color: white;
    }*/


/*MainMenu*/

/*.main-menu {
    background-color:white; border-bottom:1px solid #f4f4f4; height:70px; display:block;
}

    .main-menu .item {
        height:100%; display:inline-block; width:14%; max-width:200px; cursor:pointer; text-decoration:none; color:black;
    }

        .main-menu .item .text {
            height:100%; font-family:OpenSans-Regular; display:inline-block; font-size:19px; line-height:62px; cursor:pointer;  box-sizing:border-box; 
            border-top:4px solid transparent; padding:0 10px;
            -webkit-transition: border-top-color 0.2s ease-out;
            -moz-transition: border-top-color 0.2s ease-out;
            -o-transition: border-top-color 0.2s ease-out;
            -ms-transition: border-top-color 0.2s ease-out;
            transition: border-top-color 0.2s ease-out;
        }

        .main-menu .item .text-s, .main-menu .item:hover .text {
            border-top-color: #424242;
        }


    .main-menu .back {
        overflow:hidden;text-align:center; height:100%; display:block;
    }

    .main-menu .back-cont {
        display:inline-block; height:100%; width:100%; white-space:nowrap;
    }

.prod-item-rel .head {
    font-family: OpenSans-Semibold;
    font-size: 17px;
    display: block;
}*/

/*content*/

/*.master-content {
    min-height: calc(100% - 180px);
    min-height: -moz-calc(100% - 180px);
    min-height: -webkit-calc(100% - 180px);
    min-height: -o-calc(100% - 180px);
    background-color: #f8f8f8;
}

    .master-content .content {
        font-family:OpenSans-Regular, Arial; background-color:#f8f8f8; opacity:0; overflow:hidden;
    }*/



/*footer*/
/*.footer {
    height: 180px;
    position: relative;
    background-color: black;
    background-color: #424242;
    width: 100%;
    font-size: 12px;
}

.footer > * {
    padding-top:30px;
}

    .footer .left {
        width:250px; position:absolute; left:0; top:10px; padding-left:30px; color:#f5f5f5; font-size:14px;
    }

    .footer .right {
        width:240px; position:absolute; right:0; top:10px; padding-right:30px; text-align:right; color:#f5f5f5;
    }

.f-text {
    display:block; padding-top:20px; color:white;
}

    .footer .center {
        padding-left:20px; padding-right:20px;
    }

        .footer .center .cont {
            display:block; text-align:center
        }

            .footer .center .cont .one {
                display:inline-block; text-align:left;
            }

            .footer .center .cont .two {
                display:inline-block; padding-left:30px; text-align:left;
            }

    .f-h {
        display:block; color:#dcdcdc
    }

    .f-i{
        display:block; color:#f5f5f5; padding-top:5px;
    }

    .f-h-m {
        display:block; color:#dcdcdc; padding-top:15px;
    }*/



/*message*/
/*.modal-cont {
    background-color:rgb(250,250,250); position:absolute; float:left; left:0px; right:0px; top:0px; bottom:0px; border-style:solid; border-width:1px; border-color:rgb(160,160,160);
                        -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .2);
                        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .2); padding:25px 30px; margin:0;
}

    .modal-cont > div {
        float:left;
    }

    .modal-cont .text-span {
        font-size:15px; display:block;
    }

    .modal-cont .name-input {
        height:30px; border:1px solid #e6e6e6; padding-left:5px; width:250px; margin-top:5px; font-family:OpenSans-Regular, sans-serif,  Arial; 
    }

    .modal-cont .text-input {
        resize: none;
        border: 1px solid #e6e6e6;
        width: 575px;
        height: 100px;
        margin-top: 5px;
        font-family: OpenSans-Regular, sans-serif, Arial;
    }

.sendbutton {
    width: 100px;
    height: 30px;
    background-color: #659D91;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 29px;
    float: left;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

    .sendbutton:hover {
        background-color: #639689;
    }

.cancelbutton {
    height:30px; margin-left:30px; color:black; font-size:15px; text-align:center; line-height:29px; cursor:pointer; padding:0 2px 1px 0; border-bottom:1px solid transparent;
    -webkit-transition: border-bottom 0.2s ease-out;
    -moz-transition: border-bottom 0.2s ease-out;
    -o-transition: border-bottom 0.2s ease-out;
    -ms-transition: border-bottom 0.2s ease-out;
    transition: border-bottom 0.2s ease-out;
}

    .cancelbutton:hover {
        border-bottom:1px solid black;
    }



@font-face {
    font-family: "OpenSans-Light";
    src: url("../../fonts/OpenSans/OpenSans-Light.eot");
    src: url("../../fonts/OpenSans/OpenSans-Light.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../../fonts/OpenSans/OpenSans-Semibold.eot");
    src: url("../../fonts/OpenSans/OpenSans-Semibold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSans-Semibold.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../../fonts/OpenSans/OpenSans-Bold.eot");
    src: url("../../fonts/OpenSans/OpenSans-Bold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../../fonts/OpenSans/OpenSans-Regular.eot");
    src: url("../../fonts/OpenSans/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSans-Regular.ttf") format('truetype');
}*/



html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}







#MasterForm {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#MasterDiv {
    flex-grow: 1;
}


header {
    margin-top: 30px;
}

.h1-header {
    line-height: 37px;
    font-size: 28px;
    color: #00362A;
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-top: 110px;
    margin-bottom: 50px;
}



.container {
    width: 80%;
    max-width: 1500px;
    margin: auto;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .logo {
        margin-left: 10px;
    }


    .button-shop, .button-contact {
        display: none;
    }

    .menu-buttons {
        display: flex;
    }
}

.header-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    align-items: center;
    font-size: 14px;
}

.logo {
    margin-right: auto;
}

.header-top > div:not(.logo) {
    margin-left: 10px;
    margin-right: 10px;
}

.logo img {
    height: 50px;
}

.button-shop img, .button-contact img {
    height: 20px;
    margin: auto;
    margin-right: 5px;
}

.number, .button-shop, .button-contact {
    display: flex;
    justify-content: center;
}

.button-shop, .button-contact {
    color: white;
    padding: 10px;
    padding-right: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.button-shop {
    background-color: #666666;
}
    .button-shop:hover {
        background-color: #424242;
    }

.button-contact {
    background-color: #424242;
    text-decoration: underline;
    margin-right: 0 !important;
}
    .button-contact:hover {
        background-color: #666666;
    }

.menu {
    display: flex;
    justify-content: center;
}

.item {
    color: #00362A;
    text-decoration: none;
    font-size: 15px;
    margin: 20px 30px;
}

    .item:hover {
        color: #64998C;
        text-decoration: underline;
        text-underline-offset: 0.4em;
    }





.menu-overlay {
    background-color: #64998C;
    height: auto;
    width: auto;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 0;
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
}

    .menu-overlay.active {
        display: block;
    }

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .menu ul li {
        margin-bottom: 20px;
    }

        .menu ul li a {
            height: 30px;
            width: auto;
        }

            .menu ul li a img {
                height: 30px;
                margin: auto;
            }

.but {
    display: flex;
    justify-content: flex-start;
}

    .but div {
        margin-left: 5px;
    }

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu-mobile, .menu-tablet, .menu-buttons {
    display: none;
}



@media (max-width: 600px) {
    .button-shop, .button-contact {
        display: none;
    }

    .menu-buttons {
        display: flex;
    }
}



footer {
    flex-shrink: 0;
    background-color: #424242;
    margin-top: 80px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.links {
    justify-self: start;
}

    .links ul {
        margin: 0;
        padding: 0;
    }

        .links ul a {
            color: white;
        }

.copyright {
    text-align: center;
}

.social {
    justify-self: start;
}

.soc img {
    width: 24px;
    height: 24px;
}

.address {
    justify-self: end;
    text-align: right;
}

    .address span {
        display: block;
    }

@media (max-width: 960px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "A B D"
            "A C D";
        justify-items: center;
        padding: 15px;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 25px;
    }

    .social {
        justify-self: center;
    }

    .address {
        justify-content: end;
    }

    .links {
        grid-area: A;
    }

    .soc {
        grid-area: B;
    }

    .copyright {
        grid-area: C;
    }

    .address {
        grid-area: D;
    }
}

@media (max-width: 450px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "A B"
            "D D"
            "C C";
        justify-items: center;
        row-gap: 20px;
        padding: 30px;
    }

    .address {
        text-align: center;
        justify-self: center;
    }

    .copyright {
        justify-content: end;
    }

    .social {
        justify-self: end;
        text-align: right;
    }

    .links {
        grid-area: A;
    }

    .soc {
        grid-area: B;
    }

    .copyright {
        grid-area: C;
    }

    .address {
        grid-area: D;
    }
}
































.facebook a:hover img,
.instagram a:hover img,
.telegram a:hover img {
    transform: scale(1.2);
}

.facebook a img,
.instagram a img,
.telegram a img {
    transition: transform 0.3s ease;
}


.facebook,
.instagram,
.telegram {
    height: 30px;
}





.header-burger {
    display: none;
}


@media (max-width: 960px) {
    .header-burger {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        float: right;
        margin: 30px 30px;
        z-index: 9999;
    }

        .header-burger span {
            position: absolute;
            background-color: #00362A;
            position: absolute;
            left: 0px;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
            z-index: 9999;
        }

        .header-burger:before,
        .header-burger:after {
            content: '';
            background-color: #00362A;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0px;
            transition: all 0.3s ease 0s;
            z-index: 9999;
        }

        .header-burger:before {
            top: 0;
            z-index: 9999;
        }

        .header-burger:after {
            bottom: 0;
            z-index: 9999;
        }

        .header-burger.active span {
            transform: scale(0);
            z-index: 9999;
            color: white;
        }

        .header-burger.active:before {
            transform: rotate(45deg);
            top: 9px;
            z-index: 9999;
            background-color: white;
        }

        .header-burger.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
            z-index: 9999;
            background-color: white;
        }

    .facebook, .instagram, .telegram, .number {
        display: none;
    }

        .menu {
            margin-top: 10px;
        }

    .tablet {
        display: none;
    }

    .menu-tablet {
        display: block;
    }

    .item {
        margin: 5px 10px;
    }
}

@media (max-width: 450px) {
    .mobile {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .item {
        margin: 5px 5px;
    }
}





/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 610px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-content .text-span {
    font-size: 15px;
    display: block;
}

.modal-content .text-input {
    resize: none;
    border: 1px solid #e6e6e6;
    width: 575px;
    height: 100px;
    margin-top: 5px;
    font-family: OpenSans-Regular, sans-serif, Arial;
    width: 100%;
}

.sendbutton {
    width: 100px;
    height: 30px;
    background-color: #659D91;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 29px;
    float: left;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

    .sendbutton:hover {
        background-color: #639689;
    }

.cancelbutton {
    height: 30px;
    margin-left: 30px;
    color: black;
    font-size: 15px;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
    padding: 0 2px 1px 0;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s ease-out;
    -moz-transition: border-bottom 0.2s ease-out;
    -o-transition: border-bottom 0.2s ease-out;
    -ms-transition: border-bottom 0.2s ease-out;
    transition: border-bottom 0.2s ease-out;
}

    .cancelbutton:hover {
        border-bottom: 1px solid black;
    }

@media (max-width: 400px) {
    .close {
        display: none;
    }
}


.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-block {
    width: calc(50% - 5px);
}

.name-input {
    width: 97%;
    height: 30px;
    border: 1px solid #e6e6e6;
    margin-top: 5px;
}

@media (max-width: 550px) {
    .info {
        flex-direction: column;
        gap: 0;
    }

    .info-block {
        width: 100%;
    }

    .name-input {
        width: 100%;
    }
}

.radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.radio-button {
    margin-right: 15px;
}